<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ editando ? 'Atualizar' : 'Cadastrar' }} Categoria</h1>
    </div>
  </div>
  <form autocomplete="off" #categoriaForm="ngForm" (ngSubmit)="salvar(categoriaForm)">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="nome">Nome da categoria</label>
          <input type="text" class="form-control"
                 id="nome" name="nm_categoria"
                 [(ngModel)]="categoria.nm_categoria"
                 placeholder="Digite o nome da categoria"
                 required #nmCategoria="ngModel"
                 minlength="5">
          <app-message-error
            [control]="nmCategoria"
            error="required"
            message="Campo obrigatório"
          ></app-message-error>
          <app-message-error
            [control]="nmCategoria"
            error="minlength"
            message="Minimo de {{ nmCategoria.errors?.minlength?.requiredLength }}
          caracteres."
          ></app-message-error>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <div>
        <button type="button" onClick="javascript:history.go(-1);" class="btn btn-secondary mr-3">Voltar</button>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="!categoriaForm.valid">Salvar</button>
      </div>
    </div>
  </form>

</div>
