<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Cadastrar Categoria</h1>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="nome">Nome da categoria</label>
          <input type="text" class="form-control" id="nome"  placeholder="Digite o nome da categoria">
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <div>
        <button type="button" onClick="javascript:history.go(-1);"   class="btn btn-secondary mr-3">Voltar</button>
      </div>
      <div >
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </form>

</div>
