<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ editando ? 'Atualizar' : 'Cadastrar' }} usuário</h1>
    </div>
  </div>
  <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="nome">Nome </label>
          <input
            type="text"
            class="form-control"
            id="nome"
            name="name"
            [(ngModel)]="usuario.name"
            #nome="ngModel"
            placeholder="Digite o nome do usuario">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text"
                 class="form-control"
                 id="email"
                 name="email"
                 [(ngModel)]="usuario.email"
                 #email="ngModel"
                 placeholder="Digite o e-mail">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password"
                 class="form-control"
                 id="password"
                 name="password"
                 [(ngModel)]="usuario.password"
                 #password="ngModel"
                 placeholder="Digite o password">
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <div>
        <button type="button" onClick="javascript:history.go(-1);" class="btn btn-secondary mr-3">Voltar</button>
      </div>
      <div>
        <button
          type="submit"
          [disabled]="!usuarioForm.valid"
          class="btn btn-primary">Salvar
        </button>
      </div>
    </div>
  </form>
</div>
