<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ editando ? 'Atualizar' : 'Cadastrar' }} usuário</h1>
    </div>
  </div>
  <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="nome">Nome </label>
          <input
            type="text"
            class="form-control"
            id="nome"
            name="name"
            required
            minlength="5"
            [(ngModel)]="usuario.name"
            #nome="ngModel"
            placeholder="Digite o nome do usuario">
          <app-message-error
            [control]="nome"
            error="required"
            message="Campo é obrigatório"
          ></app-message-error>
          <app-message-error
            [control]="nome"
            error="minlength"
            message="Minimo de {{ nome.errors?.minlength?.requiredLength }}
          caracteres."
          ></app-message-error>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text"
                 class="form-control"
                 id="email"
                 name="email"
                 [(ngModel)]="usuario.email"
                 required
                 #email="ngModel"
                 email
                 placeholder="Digite o e-mail">
          <app-message-error
            [control]="email"
            error="required"
            message="Campo é obrigatório"
          ></app-message-error>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password"
                 class="form-control"
                 id="password"
                 name="password"
                 [(ngModel)]="usuario.password"
                 #password="ngModel"
                 pattern="[a-z]*"
                 placeholder="Digite o password">
          <app-message-error
            [control]="password"
            error="pattern"
            message="Permitido apenas letras minúsculas"
          ></app-message-error>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <div>
        <button type="button" onClick="javascript:history.go(-1);" class="btn btn-secondary mr-3">Voltar</button>
      </div>
      <div>
        <button
          type="submit"
          [disabled]="!usuarioForm.valid"
          class="btn btn-primary">Salvar
        </button>
      </div>
    </div>
  </form>
</div>
