<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <div>
          <h1>Cadastrar livro</h1>
        </div>
        <div>
          <a routerLink="/livros/novo" class="btn btn-success text-white" role="button">Adicionar nova</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table table-hover" style="width:100%">
        <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Autor</th>
          <th>Editora</th>
          <th>Páginas</th>
          <th>Lançados</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let livro of livros">
          <td>{{livro.id}}</td>
          <td>{{livro.nm_livro}}</td>
          <td>{{livro.nm_autor}}</td>
          <td>{{livro.nm_editora}}</td>
          <td>{{livro.num_paginas}}</td>
          <td>{{livro.dt_lancamento}}</td>
          <td>{{livro.nm_categoria}}</td>
          <td>
            <button type="button" class="btn btn-sm btn-danger mr-2" (click)="deleteLivro(livro.id)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
            <button type="button" class="btn btn-sm btn-success" [routerLink]="['/livros', livro.id]">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="justify-content-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{disabled:current_page === 1}">
              <button class="page-link" (click)="setPage(1)">Primeiro</button>
            </li>
            <li class="page-item" [ngClass]="{disabled:current_page === 1}">
              <button class="page-link" (click)="setPage(current_page - 1)">Anterior</button>
            </li>
            <li class="page-item " [ngClass]="{active:current_page === page + 1 }" *ngFor="let page of total">
              <button class="page-link active" (click)="setPage(page + 1)">{{1 + page}}</button>
            </li>

            <li class="page-item" [ngClass]="{disabled:current_page === last_page}">
              <button class="page-link" (click)="setPage(current_page + 1)">Próximo</button>
            </li>
            <li class="page-item" [ngClass]="{disabled:current_page === last_page}">
              <button class="page-link" (click)="setPage(last_page)">Último</button>
            </li>
          </ul>
        </nav>
      </div>

    </div>
    <div class="card-footer text-muted">
      <div class="d-flex justify-content-end">
        <div>
          <button type="button" onClick="javascript:history.go(-1);" class="btn btn-secondary mr-3">Voltar</button>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>

